# Node and Dependency Logs
/node_modules/
/vendor/
/npm-debug.log
/yarn-error.log

# Laravel Specific
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key

# Environment and Configuration Files
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
auth.json

# IDE and Editor Specific
/.phpunit.cache
/.phpunit.result.cache
/.vscode
/.idea

# Additional Development Files
/.fleet
public/build
/.vagrant
